<div class="modal fade"> 
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">新增访客</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-9">
                            <input type="text" name="name" class="form-control" required ng-model="visitorlist.name">
                        </div>
                        <span class="tips" ng-show="form.name.$error.required">*</span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">电话号码</label>
                        <div class="col-sm-9">
                            <input type="text" name="phoneNumber" class="form-control" maxlength="11" minlength="11" ng-maxlength="11" ng-minlength="11" required ng-model="visitorlist.phoneNumber">
                        </div>
                        <span class="tips" ng-show="form.phoneNumber.$error.required">*</span>
                        <span class="tips tips-right black-tips" ng-show="form.phoneNumber.$error.minlength">格式有误</span>
                        <span class="tips tips-right black-tips" ng-show="form.phoneNumber.$error.maxlength">格式有误</span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">IMEI</label>
                        <div class="col-sm-9">
                            <input type="text" name="imei" class="form-control" maxlength="15" minlength="15" ng-maxlength="15" ng-minlength="15" ng-model="visitorlist.imei">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">IMSI</label>
                        <div class="col-sm-9">
                            <input type="text" name="imsi" class="form-control" maxlength="15" minlength="15" ng-maxlength="15" ng-minlength="15" required ng-model="visitorlist.imsi">
                        </div>
                        <span class="tips" ng-show="form.imsi.$error.required">*</span>
                        <span class="tips tips-right black-tips" ng-show="form.imsi.$error.minlength">格式有误</span>
                        <span class="tips tips-right black-tips" ng-show="form.imsi.$error.maxlength">格式有误</span>
                    </div>
                    <!-- <span class="tips" ng-show="atleastOne">IMEI与IMSI/MAC,您至少要选填一个</span> -->
                    <div class="form-group data">
                        <div class="dropdown">
                            <label class="col-sm-2 control-label">到访时间</label>
                            <div class="col-sm-9">
                                <span class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#">
                                    <div class="input-group">
                                        <input name="startTime" type="text" class="form-control" data-ng-model="visitorlist.startTime"
                                                   data-date-time-input="YYYY-MM-DD HH:mm" required>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </span>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="visitorlist.startTime" 
                                     data-datetimepicker-config="{ dropdownSelector: '#dropdown3', renderOn: 'end-date-changed' }" data-on-set-time="startDateOnSetTime()" data-before-render="startDateBeforeRender($dates)"></datetimepicker> 
                                </ul>
                            </div>
                            <span class="tips" ng-show="form.startTime.$error.required">*</span>
                        </div>
                    </div>
                    <div class="form-group data">
                        <div class="dropdown">
                            <label class="col-sm-2  control-label" style="padding: 0 5px;">到访结束时间</label>
                            <div class="col-sm-9">
                                <span class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown" data-target="#">
                                    <div class="input-group">
                                        <input name="endTime" type="text" class="form-control" data-ng-model="visitorlist.endTime"
                                                   data-date-time-input="YYYY-MM-DD HH:mm" required>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </span>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="visitorlist.endTime" 
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown4', renderOn: 'start-date-changed' }" data-on-set-time="endDateOnSetTime()" data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
                                </ul>
                            </div>
                            <span class="tips" ng-show="form.endTime.$error.required">*</span>
                        </div>
                    </div>           
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-disabled="!form.$valid" ng-click="sure()" class="btn btn-primary" data-dismiss="modal">确定</button>
                <button type="button" ng-click="close()" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
