<div  class="frame" ng-controller="blacklistCtrl">
	<h2 class="title">黑名单管理</h2>
	<div class="form form-inline">
		<div class="input-group">
			<span class="input-group-addon">姓名</span>
			<input type="text" class="form-control" ng-model="blacklist.name">
		</div>
		<div class="input-group">
			<span class="input-group-addon">IMEI</span>
			<input type="text" class="form-control" maxlength="15" minlength="15" ng-model="blacklist.imei">
		</div>
		<div class="input-group">
			<span class="input-group-addon">IMSI</span>
			<input type="text" class="form-control" maxlength="15" minlength="15" ng-model="blacklist.imsi">
		</div>
		<div class="input-group">
			<button class="btn btn-primary" ng-click="search()">查询</button>
		</div>
	</div>
	<div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns  class="grid" auto-height></div>
	<div class="btnBox">
	    <a class="btnIcon btn-add" href ng-click="add()" uib-tooltip="添加"></a>
	    <a class="btnIcon btn-edit" href ng-click="edit()" uib-tooltip="编辑"></a>
	    <a class="btnIcon btn-delete" href ng-click="delete()" uib-tooltip="删除"></a>
	    <a class="btnIcon btn-export" href ng-click="export()" uib-tooltip="导出"></a>
	    <a class="btnIcon btn-download" href ng-click="downLoad()" uib-tooltip="下载"></a>
	    <a class="btnIcon btn-import" href ng-click="import()" uib-tooltip="批量导入"></a>
	    <a class="btnIcon btn-device-download" href uib-tooltip="批量导入模板下载" ng-click="device_downLoad()"></a>
	</div>
</div>