<div class="frame">
	<h2 class="title">系统设置</h2>
    <nav class="navbar navbar-default" role="navigation">
	    <ul class="nav navbar-nav">
			<li><a ui-sref="main.page.safeSet" ng-init="activeButton = 'a'" ng-click="activeButton = 'a'" ng-class="{ 'active': activeButton === 'a' }">安全设置</a></li>
			<li><a ui-sref="main.page.mesSet" ng-click="activeButton = 'b'" ng-class="{ 'active': activeButton === 'b' }">短信设备配置</a></li>
			<li><a ui-sref="main.page.mesTelSet" ng-click="activeButton = 'c'" ng-class="{ 'active': activeButton === 'c' }">通知模版设置</a></li>			
			<li><a ui-sref="main.page.voiceSet" ng-click="activeButton = 'f'" ng-class="{ 'active': activeButton === 'f' }">提示音设置</a></li>
		</ul>
	</nav>
	<div class="setBox" ui-view>
	    <div ui-view="setDefault"></div>
	</div> 
</div>