<div  class="frame" ng-controller="wifiCtrl">
	<h2 class="title">wifi设备上报信息</h2>
	<div class="form form-inline">
		<div class="input-group">
			<span class="input-group-addon">组名称</span>
			<select class="form-control pd-right" ng-model="wifi.groupId">
				<option value="">请选择</option>
			    <option ng-repeat="group in groupArray" value="{{group.groupId}}">{{group.groupName}}</option>
			</select>
		</div>
		<div class="input-group">
			<span class="input-group-addon">Mac地址</span>
			<input type="text" class="form-control" maxlength="15" ng-model="wifi.mac">
		</div>
		<div class="input-group data">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#">
                    <div class="input-group">
                        <span class="input-group-addon">时间范围</span>
                        <input type="text" class="form-control" data-ng-model="wifi.startDate"
                                   data-date-time-input="YYYY-MM-DD HH:mm:ss">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </span>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="wifi.startDate" 
                    data-datetimepicker-config="{ dropdownSelector: '#dropdown1', renderOn: 'end-date-changed' }" data-on-set-time="startDateOnSetTime()" data-before-render="startDateBeforeRender($dates)"></datetimepicker>
                </ul>
            </div>
        </div>
        <div class="input-group data">
        	<div class="dropdown">
                <span class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
                    <div class="input-group">
                        <span class="input-group-addon">至</span>
                        <input type="text" class="form-control" data-ng-model="wifi.closeDate"
                                   data-date-time-input="YYYY-MM-DD HH:mm:ss">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </span>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="wifi.closeDate" 
                    data-datetimepicker-config="{ dropdownSelector: '#dropdown2', renderOn: 'start-date-changed' }" data-on-set-time="endDateOnSetTime()" data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
                </ul>
            </div>
        </div>
        <div class="input-group">
			<button class="btn btn-primary" ng-click="search()">查询</button>
		</div>
	</div>
	<div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns  class="grid" auto-height></div>
    <div class="btnBox">
        <!--<a class="btnIcon btn-refresh" href uib-tooltip="刷新" ng-click="search()"></a>-->
        <!--<a class="btnIcon btn-export" href uib-tooltip="导出" ng-click="export()"></a>
        <a class="btnIcon btn-download" href uib-tooltip="下载" ng-click="downLoad()"></a>-->
    </div>
    <span us-spinner spinner-key="spinner-1" class="loadingAnimate"></span>
</div>